* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
  color: #fff;

  background-color: #222;

  min-height: 100vh;
  padding: 2rem 10rem;
}

a {
  color: #1097cc;
  text-decoration: none;
}

a.on {
  text-decoration: underline;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  font-size: 1.1rem;

  padding-bottom: 2rem;
}

/* -----
HOMEPAGE
----- */
main {
  max-width: 500px;
  margin: auto;
}

main > h1 {
  padding-bottom: 5px;
}

.chord-explanation-section {
  padding-top: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/* -----
CHORDS
----- */
.chord-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.chord-section > div > h3 {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 15px;
}

/* Chord size */
pre {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 1440px) {
  body {
    padding: 2rem 2rem;
  }
}
