* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;

  color: #0c0c0c;
  background-color: #e8e3e3;

  min-height: 100vh;
  padding: 2rem 10rem;
}

a {
  color: #0f4ac9;
  text-decoration: none;
}

a.on {
  text-decoration: underline;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  font-size: 2rem;

  padding-bottom: 2rem;
}

/* -----
HOMEPAGE
----- */
main {
  max-width: 700px;
  margin: auto;
}

main > h1 {
  font-size: 4rem;
  padding-bottom: 5px;
}

main p {
  font-size: 1.8rem;
}

.chord-explanation-section {
  padding-top: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

/* -----
CHORDS
----- */
.chord-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.chord-section > div > h3 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 15px;
}

/* Chord size */
pre {
  font-size: 1.7rem;
  font-weight: 400;
}

span {
  font-weight: 700;
}

@media screen and (max-width: 1440px) {
  body {
    padding: 2rem 2rem;
  }
}
